page-home {

}

ion-spinner.button {
  fill: #FFF;
  width: 28px;
  height: 28px;
  position: absolute;
  right: 17px;


}
ion-spinner.button, ion-spinner.button circle {
  stroke: #FFF;
}

.status {
	margin:auto;
}